.button{
    height: 100px;
    width: 100px;
    padding:20px
    

}
#grey{
    background-color: gray;
  
}
#white{
    background-color: white;
 
}
#blue{
    background-color:blue;

}
#yellow{
    background-color:yellow;
  
}