button{
    background-color: black ;
    color: white;
    height: 20px;
    border-radius: 10px;
}
div{
    width: 100px;
    height: 100px;
    background-color:yellow;
    color:black;
}
.dark{
    color:white;
    background-color: blue;
}
.light{
    background-color: green;
    color:white;
}
p{
    color:white;
}